/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 2000px;
}

* {
    box-sizing: border-box;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 0 8px 0;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 36px;
}

.header-right .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    float: left;
    opacity: 0.7;
    line-height: 70px;
    padding: 0 10px;
    margin-left: 30px;
}

/* navbar */
header {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10; 
    top: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    width: 115px;
    margin-top: 5px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    display: block;
    float: left;
    color: white;
    opacity: 0.7;
    line-height: 70px;
    padding: 0 10px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

.header-right a:hover {
    background-color: rgb(6, 12, 98);
    font-size: 22px;
    opacity: 1;
}

/* banner */
.banner {
    background-image: url(../img/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center -200px;
    text-align: center;
    width: 100%;
    padding: 180px 0 100px 0;
    overflow: hidden;
}

.banner h1, p {
    color: white;
    opacity: 0.9;
}

.banner h1 {
    font-size: 85px;
    font-weight: bold;
    animation-duration: 2s;
}

.banner p {
    font-size: 40px;
    margin-top: 60px;
    line-height: 55px;
    animation-duration: 2.2s;
}
